.post-to-sis-status {
    display: none;
    }
/* Removes checkbox when editing Assignments for 'Sync to SIS' */
#assignment_post_to_sis {
    display: none;
    }   
/* Removes checkbox when editing Quizzes for 'Sync to SIS' */
#quiz_post_to_sis {
    display: none;
    }